    .previous-round {
        position: absolute;
        bottom: 65px;
        left: 80px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: blue;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .final-round {
        position: absolute;
        bottom: 65px;
        right: 80px;
        padding: 10px 20px;
        font-size: 16px;
        background-color: blue;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .points-row {

        grid-template-columns: repeat(6, 1fr);
    }